{% extends "base.html.twig" %}

{% block body %}

<div class="row">
	<div class="large-12 columns">
		<h3>Administrar clientes</h3>
	</div>
</div>
<div class="row">
	<div class="large-8 columns">
	{% if logged %}
		<div class="row">
			<div class="large-6 columns">
				<h4 class="text-right">Elija una ruta:</h4>
			</div>
			<div class="large-6 columns">
				<select class="crutas">
					<option>Seleccione una</option>
					{% for val in rutas %}
					<option value="{{ val.id }}">{{ val.nombre }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<table id="aclientes" width="100%">
			<thead>
				<tr>
					<th width="50%">Nombre</th>
					<th width="40%">Lugar</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<!-- Clientes cargados con AJAX -->
			</tbody>
		</table>
	{% else %}
		<div class="panel">
			<h2>Esta sección es solo para el Administrador.</h2>
		</div>
	{% endif %} 
	</div>
	<div class="large-4 columns">
		<div id="search" class="panel">
			<h4>Agregar un cliente:</h4>
			{% if status == 0 %}
			<div data-alert class="alert-box success">
				Se agrego el cliente.
				<a href="#" class="close">&times;</a>
			</div>
			{% endif %}
			<form action="" method="post">
				<input type="text" name="namec" placeholder="Nombre del cliente..." required>
				<input type="text" name="placec" placeholder="Nombre del lugar..." required>
				<select name="rutac">
					<option>Seleccione una ruta</option>
					{% for val in rutas %}
					<option value="{{ val.id }}">{{ val.nombre }}</option>
					{% endfor %}
				</select>
				<button type="submit" class="button postfix fi-plus"> Agregar</button>
			</form>
			
		</div>
	</div>
</div>

{% endblock %}