{% extends "base.html.twig" %}

{% block body %}

<div class="row">
	<div class="large-8 columns">
		
		<table>
			<thead>
				<tr>
					<th width="10%">Cantidad</th>
					<th width="75%">Nombre</th>
					<th width="15%">Precio</th>
				</tr>
			</thead>
			<tbody>
				{% for val in productos %}
				<tr>
					<td>{{ val.cantidad }}</td>
					<td>{{ val.nombre }}</td>
					<td>${{ val.precio|number_format(2, '.', ',') }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<ul class="pagination">
			{% autoescape false %}
			{{ pagination }}
			{% endautoescape %}
		</ul>  
	</div>
	<div class="large-4 columns">
		<div id="search" class="panel">

			<ul class="button-group">
				<li><a href="#" class="tiny button type" data-s="bici:">Bicicleta</a></li>
				<li><a href="#" class="tiny button type" data-s="moto:">Motocicleta</a></li>
				<li><a href="#" class="tiny button type" data-s="todo:">Todos</a></li>
			</ul>

			<form action="/index.php/productos/lista/" method="post">
				<div class="row collapse">
					<div class="small-10 columns">
						<input name="search" type="search" placeholder="Buscar un producto..." autocomplete="off">
					</div>
					<div class="small-2 columns">
						<button type="submit" class="button postfix"><span class="fi-magnifying-glass"></span></button>
					</div>
				</div>
				
			</form>
			
		</div>
	</div>
</div>

{% endblock %}