body{ background: #EAEAEA !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span.buttons{ font-size: 8em; }

td .button, td input{ margin: 0 !important; }
td input[type="number"]{ padding: 0.1rem; }